.row
  .col-md-6
    .well
      %h2.text-center Citizen Membership
      = link_to 'Sign up', new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block'
  .col-md-6
    .well
      %h2.text-center Candidate Membership
      = link_to 'Sign up', new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block'
